body{
    background: ghostwhite;
}

.diceholder{
    text-align: center;
}

.dicediv {
    background-color : cadetblue;
    border-style: solid;
    border-width: 3px;
    border: black;
    width: 120px;
    float :left;
    margin: 10px;
}

#spawn, #roll, #sum{
    align-items: center;
    text-align: center;
    font-size: 25px;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding: 14px;
    background:repeat-x center steelblue;
    border-bottom:1px solid darkgray;
    cursor:pointer;
}

#name{
    position: relative;
    top: 49px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

#totaldie{
    align-items: center;
    text-align: center;
    font-size: 25px;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding: 14px;
    background:repeat-x center steelblue;
    border-bottom:1px solid #9f9f9f;
    cursor:pointer;
    clear: both;
}